In [1]:
import pandas as pd
df=pd.read_csv('titanic.csv',usecols=['Cabin','Survived'])

In [2]:
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [4]:
df.Cabin.fillna('Missing',inplace=True)

In [9]:
df.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [10]:
df['Cabin'].astype(str).str[0] # converting to  string and getting the first char

0      M
1      C
2      M
3      C
4      M
      ..
886    M
887    B
888    M
889    C
890    M
Name: Cabin, Length: 891, dtype: object

In [6]:
df.Cabin.apply(lambda x : str(x[0]))

0      M
1      C
2      M
3      C
4      M
      ..
886    M
887    B
888    M
889    C
890    M
Name: Cabin, Length: 891, dtype: object

In [7]:
df['Cabin']=df['Cabin'].astype(str).str[0]

In [12]:
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [8]:
df.Cabin.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [10]:
df.groupby('Cabin')['Survived'].mean().sort_values(ascending=False).index

Index(['D', 'E', 'B', 'F', 'C', 'G', 'A', 'M', 'T'], dtype='object', name='Cabin')

In [25]:
ordinal_labels=df.groupby('Cabin')['Survived'].mean().sort_values().index

In [26]:
ordinal_labels

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [27]:
ordinal_labels2={k:i for i,k in enumerate(ordinal_labels,0)}
ordinal_labels2

{'T': 0, 'M': 1, 'A': 2, 'G': 3, 'C': 4, 'F': 5, 'B': 6, 'E': 7, 'D': 8}

In [28]:
df['Cabin_ordinal_labels']=df['Cabin'].map(ordinal_labels2)

In [29]:
df.head()

   Survived Cabin  Cabin_ordinal_labels
0         0     M                     1
1         1     C                     4
2         1     M                     1
3         1     C                     4
4         0     M                     1

In [33]:
df.drop('Cabin',axis=1,inplace=True)

In [34]:
df.head()

   Survived  Cabin_ordinal_labels
0         0                     1
1         1                     4
2         1                     1
3         1                     4
4         0                     1